<p id="notice"><%= notice %></p>

<h1>Listing Resume Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Heading</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Description</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resume_items.each do |resume_item| %>
      <tr>
        <td><%= resume_item.title %></td>
        <td><%= resume_item.heading %></td>
        <td><%= resume_item.start_date %></td>
        <td><%= resume_item.end_date %></td>
        <td><%= resume_item.description %></td>
        <td><%= resume_item.kind %></td>
        <td><%= link_to 'Show', resume_item %></td>
        <td><%= link_to 'Edit', edit_resume_item_path(resume_item) %></td>
        <td><%= link_to 'Destroy', resume_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume item', new_resume_item_path %>
