<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resume_item.title %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @resume_item.heading %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @resume_item.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @resume_item.end_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resume_item.description %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @resume_item.kind %>
</p>

<%= link_to 'Edit', edit_resume_item_path(@resume_item) %> |
<%= link_to 'Back', resume_items_path %>
