
<h1>Alum Num: Better than LinkedIn. But what isnt?</h1>

<div id="jsvars">
<!-- This is a hidden div that passed data to Javascript so it can make the chart. -->

<div id="s0q">
<%=@searches[0].query %>
</div>
<div id="s0c">
<%=@searches[0].count %>
</div>

<div id="s1q">
<%=@searches[1].query %>
</div>
<div id="s1c">
<%=@searches[1].count %>
</div>

<div id="s2q">
<%=@searches[2].query %>
</div>
<div id="s2c">
<%=@searches[2].count %>
</div>

<div id="s3q">
<%=@searches[3].query %>
</div>
<div id="s3c">
<%=@searches[3].count %>
</div>

<div id="s4q">
<%=@searches[4].query %>
</div>
<div id="s4c">
<%=@searches[4].count %>
</div>

<div id="s5q">
Other
</div>
<div id="s5c">
<%=SavedSearch.count - 5 %>
</div>

</div>

<% if current_user %>
<% if current_user.type == 'Admin' %>

<div class="search-analytics">
<div class="chart">
<h3> Most Popular Searches</h3>
<canvas id="canvas" width="400" height="400"></canvas>
</div>
</div>
<table>

<p> Admin User status panel </p>
<table id="status">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Profile View Count</th>
    </tr>
  </thead>

  <tbody>
    <% @user_admin.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %> </td>
        <td col width="80"><%= user.status %></td>
       
      </tr>
    <% end %>
      
  </tbody>
</table>


	<%= page_entries_info @user_admin %>
    <%= paginate @user_admin %>

<% end %>
<% end %>

<% if current_user %>
<% if current_user.type == 'Employer' %>
<p> You are signed in as an Employer</p>


<p>Shows Alum users & Their Tags:</p>
<table id="status">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Tag</th>
    </tr>
  </thead>

  <tbody>
    <% @employer_limit_items.each do |tag| %>
    <% thisUser = User.find(tag.user_id) %>
    <% tagName = Tag.find(tag.tag_id) %>
      <tr>
        <td col width="80"><%= tag.user_id %> </td>
        <td col width="120"><%= "#{thisUser.first_name} #{thisUser.last_name}" %> </td>
        <td col width="80"><%= tagName.skill_tag %> </td>
      </tr>
    <% end %>
      
  </tbody>
  
</table>
  <%= page_entries_info @employer_limit_items %>
  <%= paginate @employer_limit_items %>
<br />
<br />
<br />
  <strong>Your Tags, Add tags to subscibe to email alerts</strong>
<% @usertags = Usertag.where user_id: current_user.id %>  
<% @usertags.each do |t| %>
<div class="tag">
  <%= t.tag.skill_tag %><br>
</div>
<% end %>
<br />
<br />

<%= link_to 'Add Tags', new_usertag_path %>

<% end %>
<% end %>

<!--this is to test out git-->

