<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/stylesheets/profiles.scss" rel="stylesheet">
</head>

<body>

<h1 class= "alumni_heading">AlumNum Profiles</h1>

<div class= "master_container">

  <div class= "sidebar_panel">
  <h3>AlumNum Curriculum</h3>
  <ul>
    <h4>Immersive Programs</h4>
    <li>Web Development</li>
    <li>User Experience Design</li>
    <li>Product Management</li>
    <li>Android Development</li>
    <li>Data Science</li>

    <h4>Part-Time <br> Programs</h4>
    <li>Front End Web Development</li>
    <li>Digital Marketing </li>
    <li>Data Analytics </li>
  </ul>

  <h3>Companies Hiring AlumNums</h3>
  <ul>
    <h4>Partnerships</h4>
    <li>Sailthru</li>
    <li>2U</li>
    <li>NewsCred</li>
    <li>ThoughtWorks</li>
  </ul>
  </div>


  <% @profiles.each do |profile| %>
  <div class="profiles_container" >

    <div class="card_image">
      <%= image_tag profile.image.url(:thumb) %>
    </div>

    <div class="card_name">
      <a href= "/profiles/<%=profile.id%>">
        <h2><%=profile.alum.first_name + " " + profile.alum.last_name%></h2>
      </a>
      
      <p class= "label"><%= profile.headline %></p>
      <p class= "resumeitem"><%= profile.status %></p>

    <% @resume_items = profile.resume_items %>
      <% @resume_items.each do |resume| %>
        <p class= "resumeitem">Previously a <%= resume.title + " "%> at <%= resume.heading%> </p>
    <%end%>
    </div>

  </div>

  <%end%>
</div>

</body>
</html>
