<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/stylesheets/profiles.scss" rel="stylesheet">
</head>

<body>

<h1>General Assembly Alumni</h1>

<div class="profile_container" >
  <% @profiles.each do |profile| %>
  <%= profile.first_name %>
    <div class ="user_name">
    <h3><%= link_to profile.user_id, profile_path(profile) %></h3>
    </div>
    
    <div class ="col-xs-9">
    <p><%= profile.image_url %></p>
    </div>
    
    <div class ="col-xs-9">
    <p><%= profile.headline %></p>
    <p><%= profile.image.url %></p>
    <p><%= link_to "Twitter", "#{profile.twitter}" %></p>
    <p><%= link_to "Github", "#{profile.github}" %></p>
    <p><%= link_to "LikedIn", "#{profile.linkedin}" %></p>
    </div>
  <%end%>
</div>



<!-- instructions to myself:
  1. design the layout
  2. figure out bootstrap
  3. pull out items from active record query join statements-->




  <!-- print out the last title (General Assembly) of that user and heading is like Web Developmentnof the resume item --> 

<!-- skills tags -->
<!-- add an education attribute to the profile table so that
I can have a education piece in the profiles index page -->

</body>
</html>



