<p id="notice"><%= notice %></p>
<div class="headline">
  <div class="circle-image">
    <%= image_tag @profile.image.url(:medium)%>
  </div>

    <h1><%= @alum.first_name + " " + @alum.last_name %></h1>



    <h3>
      
      <%= @profile.headline %>
    </h3>


    <p>
      
      <%= @profile.bio %>
    </p>


</div>


<div class="sidebar col-md-2">
<p>
  <strong>View count:</strong>
  <%= @profile.view_count %>
</p>
  <p>
   <%= @alum.email %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @profile.status %>
  </p>

  <p>
    
    <a href="<%= @profile.twitter %>">Twitter</a>
  </p>

  <p>
    <a href="<%= @profile.github %>">Github</a>
  </p>

  <p>
    <a href="<%= @profile.peronal_site %>">Personal Site</a>
  </p>

  <p>
    <a href="<%= @profile.linkedin %>">LinkedIn</a>
  </p>

  <strong>tags</strong>
<% @usertags.each do |t| %>
<div class="tag">
  <%= t.tag.skill_tag %><br>
</div>
<% end %>

  <div class="question-container">
  <h1>Q&A</h1>
    <% @qnas.each do |q| %>
      <h3>
        <%= q.question.question %><br>
      </h3>
        <%= q.response %><br>
    <% end %>
  </div>
</div>



<div class="resume-container col-md-10">
  <h1>Resume Items</h1>
  <% @resume.each do |r| %>
    <div class="resume-item <%=r.kind.downcase%>" >
      <h2><%= r.title %></h2>
      <p> <%= r.heading %><br>
      <%= r.start_date %> - <%= r.end_date %><br>
      <%= r.description %><br>
      </p>
    </div>
  <% end %>
</div>







<% if user_signed_in? and current_user == @alum  %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>

<%= link_to 'Back', profiles_path %>
